.footer__copyfight {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 948px) {
  .footer__copyfight {
    max-width: 280px;
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 0;
    padding-bottom: 36px;
  }
}
