.profile__EditBatoon {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  justify-self: center;
  color: #ffffff;
  background: black;
  border: 1px solid #ffffff;
  background-image: url(../../../photo/edit.jpg);
  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}
.profile__EditBatoon:hover {
  opacity: 0.6;
}

  
@media screen and (max-width: 948px) {
  .profile__EditBatoon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 0;
    background-size: 7.5px 7.5px;
  }
}
