.footer {
  grid-area: footer;
  width: 100%;
  max-width: 880px;
  justify-content: flex-start;
  align-content: center;
  margin: 67px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 948px) {
  .footer {
    padding: 0;
    margin: 0;
  }
}