.popup__closeButoon {
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../../../photo/close.svg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: calc((100% - 430px) / 2);
  left: calc((100% + 430px) / 2);
}
.popup__closeButoon:hover {
  opacity: 0.6;
}
@media screen and (max-width: 948px) {
  .popup__closeButoon {
    width: 20px;
    height: 20px;
    left: calc((100% + 242px) / 2 + 2px);
    
  }
}
